@model IEnumerable<VehicleManangement.Models.Driver>

@{
    ViewData["Title"] = "Index";
}

<h1>Driver Index</h1>
<div class="DriversSelecter"></div>
<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary">+ Add</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LicenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LicenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailAddress)
            </td>
            <td>
                    <a asp-controller="Addresses" asp-action="Details" asp-route-id="@item.Address.Id">@Html.DisplayFor(modelItem => item.Address.Name)</a>
            </td>
            <td>
                    <a asp-controller="Clients" asp-action="Details" asp-route-id="@item.Client.Id">@Html.DisplayFor(modelItem => item.Client.Name)</a>
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-primary"><i class="bi bi-pencil-square" data-bs-toggle="tooltip" title="Edit this item"></i></button></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><button type="button" class="btn btn-warning"><i class="bi bi-eye" data-bs-toggle="tooltip" title="View this item"></i></button></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-danger"><i class="bi bi-trash" data-bs-toggle="tooltip" title="Delete this item"></i></button></a>
            </td>
        </tr>
}
    </tbody>
</table>
